*{
	margin:0;
	padding:0;
}
body{
	overflow:hidden;
	background-color: #889;
}
.content{
	text-align: center;
}


.aside{
	position: absolute;
	left: 2em;
	top: 2em;
	width: 2em;
	height: 2em;
	line-height: 2em;
	overflow: hidden;
	border: 1px solid #c78;
	background-color: #889;
	color: #ffe;
	cursor: pointer;
}
.aside:hover{
	width: auto;
	height: auto;
}

.aside::before{
	content: "set";
	display: block;
	text-align: center;
	background-color: #c78;
	color: #ffe;
}

.setting-row{
	padding: 0 1em;
	cursor: default;
}
.guide-bar{
	display: inline-block;
	width:6em;
	margin-right: 0.5em;
}
.setting-bar{
	margin: 0 0.5em;
	cursor: pointer;
}





